/*#################################################*/
/*######## ESTILOS GENERALES O AGRUPADOS #########*/
/*#################################################*/
* {
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    margin: 0%;
  }

/*##################################################################################*/
/*########			ZONA SECTION-PORTADA (BANNER CENTRAL INTERACTIVO) 		########*/
/*##################################################################################*/
.section-portada {
  display: flex;
  width: 80%;
  margin: auto;
}

.imagenes-chica img {
  width: 346px;
  height: 187px; 
}

.imagenes-chica {
  display: flex;
  width: 24%;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  background-color: #174E96;
  color: white;
  left: 175px;
  top: 150px;
  width: 171px;
  font-size: 22px;
  height: 33px;
  text-align: right;
  font-weight: bold
}

.section-portada p {
  margin:0;
}

.imagen-grande img {
  width: 893px;
  height: 568px;
}

.imagen-grande {
  width: 100%;
}

.titular-grande {
  position: absolute;
  background-color:rgba(0, 0, 0, 0.815);
  color: white;
  top: 387px;
  left: 487px;
  width: 808px;
  font-size: 58px;
  height: 189px;
  text-align: left;
  margin-bottom: 0;
}


/*#################################################*/
/*########			ZONA OPINION 		########*/
/*#################################################*/
.opinion{ 				
	margin: 0 auto;		
	width: 98%;			
}
.opinion h2{
	margin: 0;
	padding: .3em;
	text-align: center;
	border: 1px solid rgba(10, 102, 154, 0.85);
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.24);
}
.contenedor-cards{
	margin-top: .5em;
	display: flex;
	justify-content: space-between;
}
.card-opinion{
	padding: 1em 1.2em;
	width: 33%;
	display: flex;
	border: rgba(0,0,0,.25) solid 1px;
	border-radius: 8px;
}
.card-opinion:hover{
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.24);
}
.card-opinion img{
  	width: 117px;
  	height: 157px;
  	object-fit: cover;
}
.card-opinion div{
	margin-left: 1em;
}
.card-opinion a{
	display: block; /*importante para manejar el click*/
	color: black;
	text-decoration: none;	
}
.card-opinion a:hover{
	color: #174E96;
}
.card-opinion p a{
	font-weight: 500;
}

/*#######################################################*/
/*###########      ZONA MEDIA(VIDEO)     ################*/
/*#######################################################*/
.media{
	margin: .5em auto;
	width: 98%;
	border-top: #ff0000 solid 5px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
}
.media img{
	margin-top: 1.5em;
	margin-left: 1.5em;
	width: 6em;
	display: block;
}
.media-contenedor{
	padding: 2em 3em;
	display: flex;
	justify-content: center
}
.media-contenedor div{
	padding: 2em 1em;
}
.media-contenedor h3{
	font-size: 1.8em;
}
.media-contenedor p{
	margin-top: 1.5em;
}
.media-contenedor button{
	margin-top: 2em;
	padding: .5em 3em;
	font-size: 1em;
	font-weight: bold;
	color: white;
	background: #ff0000;
	border: none;
}
.media-contenedor button:hover{
	font-weight: bolder;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
}
.video-canal{ /*este es el iframe con el video de youtube*/
	width: 400px;
	height: 300px;
}


 /*###################################################*/
 /*#############     ZONA HEADER       ###############*/
 /*###################################################*/

/* ------------------------------------------------  */

/* Estilos aplicados al contenedor padre */

.head-portada {
  height: 39px;;
  color: white;
  font-style: italic;
  background: rgba(11, 19, 43,97%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* ------------------------------------------------  */

/* Estilos aplicados a contenedores hijos */

.head-ppal {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.head-social {
  width: 10%;
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
}
/* ------------------------------------------------  */

/* Estilos para los logos de redes sociales */

.head-portada a img {
  width: 1.7em;
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: 0.2s;
}

.head-portada a img:hover {
  filter: grayscale(0%);
}

/* ------------------------------------------------  */

/* Estilos responsive hasta un mínimo de 800px */

@media (max-width: 850px) {

  .head-social {
    display: none;
  }

  .head-portada {
    justify-content: space-around;
  }
}

@media (max-width: 800px) {
  #buscar {
    display: none;
  }
}

/* ------------------------------------------------  */
/*#################################################*/
/*###########      ZONA NOTICIAS VARIAS    ################*/
/*#################################################*/

.contenedor-noticias { 				
	margin-top: 2em;
	margin: 0 auto;	
	display: flex;
	justify-content: space-between;
	width: 98%;	
}

.hora hr { 				
  border: 0.4px solid rgba(0, 0, 0, 0.788);
  border-radius: 5px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hora h2 {
	font-size: 28px;
	margin: 4px;
	text-align: center;
	padding: 2px;
	display: flex;
	margin-left: 10px;
}

.hora {
	border: rgba(0,0,0,.25) solid 1px;
	border-radius: 3px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
	width: 33%;
}

.hora img {
	width: 380px;
	height: 226px;
	margin-left: 1em;
	margin-right: 1em;
	transform-origin: 1 0;
	transition: transform .25s, visibility .25s ease-in;
}

.hora img:hover {
	transform: scale(1.010);
  }
  
.hora p {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	padding: 6px;
	display: flex;
	margin-left: 10px;
	margin-top: 20px;
}

.hora p:hover{
	color: #174E96;
}


/* ------------------------------------------------  */
/*#################################################*/
/*###########      ZONA FOOTER     ################*/
/*#################################################*/
footer{
	padding: 1em 0;
	color: white;
	background: #232B40; 
}
footer img{
	margin: 1em auto;
	width: 25%;
	display: block;
}
footer .cont-listas-footer{
	margin: .2em 1em;
	padding: 1em 2em;
	display: flex;
	justify-content: space-between;
	border-top: white solid 1px;
	border-bottom: white solid 1px;	
}
footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
footer h4{
	margin: .5em 0;
	font-size: 1.6em;
	font-weight: bolder;
}
footer li{
	margin: .3em .1em;
	font-size: 1.05em;
}
footer a{
	color: white;
	text-decoration: none;
}
footer a:hover{
	color: aqua;
}
footer p{
	text-align: center;
}
footer p a{
	color:  red;
	font-weight: bolder;
}
